.markdownContent {
    /* Add your styles here */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #fff;
  }
  
  .markdownContent h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    margin-top: 1em;
    margin-bottom: 16px;
  }
  
  .markdownContent h2 {
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  .markdownContent h3 {
    font-size: 1.5em;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  .markdownContent p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .markdownContent ul, .markdownContent ol {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .markdownContent code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    color: #d98031;
    border-radius: 3px;
  }
  
  .markdownContent pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #202020;
    border-radius: 10px;
  }
  
  .markdownContent blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin: 0 0 16px 0;
  }
  
  .markdownContent a {
    color: #0366d6;
    text-decoration: none;
  }
  
  .markdownContent a:hover {
    text-decoration: underline;
  }
  
  .markdownContent img {
    max-width: 100%;
    box-sizing: content-box;
  }


  .toc a {
    text-decoration: none;
  }
  
  .markdownContent h1,
  .markdownContent h2,
  .markdownContent h3,
  .markdownContent h4,
  .markdownContent h5,
  .markdownContent h6 {
    scroll-margin-top: 100px; /* Adjust based on your header height */
  }

  .rust-highlight {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre;
}

.rust-highlight .keyword { color: #0000ff; font-weight: bold; }
.rust-highlight .type { color: #267f99; }
.rust-highlight .string { color: #a31515; }
.rust-highlight .comment { color: #008000; font-style: italic; }
.rust-highlight .number { color: #09885a; }
.rust-highlight .macro { color: #af00db; }
.rust-highlight .lifetime { color: #8c8c8c; }
.rust-highlight .attribute { color: #d4d4d4; }
.rust-highlight .function { color: #795e26; }